.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout {
    background: none;
    cursor: pointer;
}

.navRight {
    display: flex;
    align-items: center;
    cursor: default;
}


.avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    margin-right: 10px;
    height: 40px;
}

.navLink{
    margin-left: 20px;
}
